<style type="text/css">
  .page 
{ 
   width: 24cm;
   margin: 1cm auto;
   /*border: solid 1px #d3d3d3;*/
   border-radius: 5px;
   background: white;
   /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}
.subpage 
{
 padding: 1.5cm 1cm 1cm;
 height: 250mm;
}

</style>
 <div class="modal my-modal-1 fade" id="bonafideModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>Student Fees</b></h4>

        </div>
        <div class="modal-body">
          <!-- <p>Some text in the modal.</p> -->

         <div class="book">
 


         </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" onclick="printDiv('print-content')" >Print</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<div class="content-wrapper">
  <div class="row">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b><u>Make Student Bonafide</u></b></h1>
         <!--  <p class="card-description">
          <a href="/admin/bonafideList"><button class="btn btn-inverse-dark btn-fw">Attendence List</button></a>
          </p> -->
         <form class="forms-sample" method="post" action="/admin/bonafide" enctype="multipart/form-data">
            <div id="attendence_student">
              <div class="form-group row">
              
                <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Class Name</label>
                <div class="col-sm-2">
                 <select class="form-control" id="class_id" name="class_id">
                 	<option value="">Select Class</option>
                 	<%  class_list.forEach(function(class_list){ %>
                  <option value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
  				        
                 	<%   }) %>
                 </select>
                </div>

                <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Section Name</label>
                <div class="col-sm-2">
                 <select class="form-control" id="section_id_stop" onchange="getStudentTobonafide(this.value)();" >
                   <option>Select Section</option>
                 </select>
                </div>

              </div>
              <br><br><br>
              <div  style="display: none;" id="shiftTable">

                <table class="display responsive nowrap tableshift" id="myTable" style="width: 100%" >
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>


                      <th>
                       Admission Number
                      </th>
                     
                      <th>
                       Sudent Name
                      </th>
                      
                      <th>
                       Certifcate
                      </th>
                      
                      <th>
                       Sample certificate
                      </th>
                      
                    </tr>
                  </thead>
                  <tbody >
                   
                  </tbody>
                </table>


              </div>
            </div>  
 
           
             
            
            <button type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>